.ruleHeader{
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
    text-decoration: underline;
}

.ulcss{
    margin-left: 30px;
    text-align: left;
    padding:10px;
    margin-top: 40px;
    font-size: 20px;
}